<h1>Cocktail Recipe -<%= @cocktail.name %></h1>

<div class="cards-grid">
  <div class="container m-16">
    <h1><%= @cocktail.name %></h1>
    <p></p>
  </div>
  <div class="card" style="width: 200 px; height: 200px">
    <%= image_tag @cocktail[:image_url], alt: "alttext" %>
  </div>

  <div class="container">
    <h2>Ingredients </h2>
    <p><%= %></p>
    <p><%= %></p>
  </div>
</div>

<%= link_to "Back to Cocktails List", root_path, class: 'btn btn-primary'  %>
<%= link_to "Edit Listing", edit_cocktail_path(@cocktail), class: 'btn btn-primary' %>

